/* Home page */
.homePage{
    padding: 10px;
    margin-top: 80px;
    background-color: #f5f9fc;
}
main .homePage a {
    color: #dc4f72;
    margin-left: 90px;
    font-size: 13px;
}
.homePage a:hover{
    text-decoration:underline ;
}

main .homePage i {
    color: black;
    font-size: 10px;
}

.homePage span{
    font-size: 13px;
}


.header-section h2{
    font-size: 46px;
    font-weight: 55px;
    font-weight: 800;
}

/* contact from */

.contact-form h3{
    font-size: 46px;
    font-weight: 55px;
    font-weight: 800;
}

.contact-form .header-section p{
    color: gray;
}

.contact-input{
    width: 500px;
    height: 55px;
    margin-top: 10px;
    border: #dc4f72;
    border-radius: 6px;
    padding: 15px;
    background-color: #f5f9fc;
}

.contact-textarea{
    width: 500px;
    height: 130px;
    resize:none;
    padding: 15px 20px;
}

.text-right button{
   background-color: #dc4f72; 
    margin-left: 360px;
    margin-top: 10px;
    width: 140px;
    height: 55px;
    border: #dc4f72 ;
    border-radius: 5px;
    color: white;
    transition: all 0.5s;
}

.text-right button:hover {
    background-color: #c04665;
    transition: all 0.5s;
}

.row img{
    width: 516px;
    height: 512px;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s;
}

.row img:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}

.ContactPageForm{
    margin-right: 30px;
    width: 550px;
    padding: 10px 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0.1, 0.1, 0.1, 0.1);
    border: 1 solid transparent;
}
/* .contact info section */

.header-section .sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
}

.header-section h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    color: black;
}

.header-section p{
    color: gray;
}

.contact-info .contact-details h4{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.contant11-top-bg{
    background-color: #f5f9fc;
}

.contact-info {
    background-color: white;
    margin-left: 50px;
    width: 350px;
    height: 250px;
    box-shadow: 1px 1px 4px 0 rgba(0.1, 0.1, 0.1, 0.1);
}

.contact-info .icon i{
    padding: 0px 170px;
    padding-top: 70px;
    color: #dc4f72;
    
}

.contact-info .contact-details h4{
    text-align: center;
    padding-top: 30px;
}

.contact-info .contact-details p{
    text-align: center;
    font-size: 18px;
    color: gray;
    line-height: 28px;
    font-weight: 600;
}

.contact-info .contact-details a{
    color: gray;
    transition: all 0.5s;
}

.contact-info .contact-details a:hover{
    color: #dc4f72;
    transition: all 0.5s;
}

.contact-info{
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s;
}

.contact-info:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}
