/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header .navbar-brand:focus,
.navbar-brand:hover {
  color: #dc4f72;
}

header .navbar .nav-item {
  margin-right: 25px;
}

header .navbar-nav .nav-link.active {
  color: #dc4f72;
}

header .navbar-nav .nav-link {
  color: #2c3038;
  position: relative;
  padding: 0;
  transition: all 0.3s;
}

header .navbar-nav .nav-link:hover {
  color: #dc4f72;
}

header .navbar-nav .nav-link::before,
header .dropdown-item::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #dc4f72;
  
  width: 0;
  transition: all 0.5s;
}

header .navbar-nav .nav-link:hover::before,
header .dropdown-item:hover:before {
  width: 20px;
}

header .dropdown-item {
  position: relative;
  padding: 0;
  transition: all 0.5;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #dc4f72;
  background-color: transparent;
}

header .dropdown-menu {
  left: -50% !important;
}

header .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.175);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 55%;
  z-index: 1001;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72;
  letter-spacing: -1px;
}

.search-right {
  align-items: center;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

.search-search {
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  color: rgb(165, 165, 165);
  text-align: center;
  background-color: rgb(233, 233, 233);
  border: 1 solid transparent;
  transition: all 0.3s;
}

.search-right:hover .search-search {
  color: black;
}

.search-right .popup {
  position: relative;
  margin: 0rem auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}

.search-right .pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: #000000ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.search-right .popup form button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-left: none;
  border-radius: initial;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.search-right .popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.header_button {
  background-color: white;
  border: 1px solid #dc4f72;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.5s;
}

.header_button {
  color: #dc4f72;
  transition: all 0.5s;
}

.header_button:hover {
  background-color: #dc4f72;
  color: #fff;
}

/* sun and moon  */
#myBody {
  background-color: white;
}

#switchButton {
  background-color: white;
  border: 1px solid black;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* POSTER */
.poster {
  position: relative;
  width: 100%;
  padding-top: 5rem;
  margin-top: 80px;
}

.poster .poster_content .col-6 h1 {
  font-size: 50px;
  align-items: center;
}

.poster_left {
  margin-top: 100px;
}

.poster_button {
  border: 1px solid #dc4f72;
  border-radius: 5px;
  color: #dc4f72;
  font-weight: 600;
  transition: all 0.5s;
  background-color: #fff;
}

.poster_button:hover {
  background-color: #dc4f72;
  color: #fff;
}

/* CAROUSEL  */
.carousel {
  margin-top: 50px;
}

.carousel_title p {
  color: #dc4f72;
}

.table {
  background-color: #f7f9fc;
  border: 1px solid transparent;
  border-radius: 5px;
}

.table {
  transform: translateY(5px);
  transition: all 0.5s;
}

.table:hover {
  transform: translateY(0);
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* SUCCESSFUL  */
.successful {
  background-color: #f7f9fc;
  padding: 80px 0;
}

.successful_left p {
  color: #dc4f72;
}

.successful_left,
.successful_right {
  width: 50%;
}

.successful_right img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transition: all 0.5s;
  transform: translateY(5px);
}

.successful_button {
  display: block;
  border: 1px solid transparent;
  background-color: #dc4f72;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.successful_button:hover {
  background-color: #d61b4a;
}

.successful_right img:hover {
  transform: translateY(0);
}

.number_box {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transition: all 0.5s;
  transform: translateY(5px);
}

.number_box span {
  color: #dc4f72;
}

.number_box:hover {
  transform: translateY(0);
  box-shadow: white;
}

/* PERFORM  */
.perform_button {
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.5s;
}

.perform_button:hover {
  background-color: rgb(215, 215, 215);
}

/* FAQ  */
.FAQ {
  background-color: #f7f9fc;
  padding: 80px 0 100px 0;
}

.FAQ_title p {
  color: #dc4f72;
}

.FAQ_title h1 {
  font-size: 40px;
  padding-bottom: 5px;
}

.FAQ_title span {
  color: rgb(153, 153, 153);
}

.FAQ_left,
.FAQ_right {
  width: 50%;
}

.FAQ_left img {
  width: 76%;
  text-align: right;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transition: all 0.5s;
  transform: translateY(10px);
  margin-left: 130px;
}

.FAQ_left img:hover {
  transform: translateY(0);
}

.FAQ_right ul li {
  padding: 20px 40px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 6px;
}

.FAQ_right .box {
  display: block;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}

/* PROJECTS  */
.project {
  padding-top: 80px;
  background-color: white;
}

.project_content {
  max-width: 1000px;
}

.project_title {
  padding-bottom: 80px;
}

.project_title p {
  color: #dc4f72;
}

.project_title span {
  color: rgb(153, 153, 153);
}

.project_box {
  margin-bottom: 100px;
}

.pj {
  display: flex;
  display: inline-block;
}

.pj_img {
  width: 100%;
}

.pj_img img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(10px);
  transition: all 0.5s;
}

.pj_img img:hover {
  transform: translateY(0);
}

.pj_content p {
  color: rgb(153, 153, 153);
}

.pj_button {
  padding: 15px 25px;
  background-color: white;
  color: #dc4f72;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #dc4f72;
  transition: all 0.5s;
}

.pj_button:hover {
  color: white;
  background-color: #dc4f72;
}

.pj {
  display: inline-block;
}

.pj_text {
  padding: 10px 110px;
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0s;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.078);
}

.nav-pills .nav-link:hover {
  color: black;
}

.nav-pills .nav-link.active {
  color: #dc4f72;
  background-color: white;
  border-bottom: 3px solid #dc4f72;
}

/* PEOPLE  */

.people_bg {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.86)
    ),
    url(../img/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.people_title p {
  color: #dc4f72;
}

.people_title span {
  color: rgb(153, 153, 153);
}

.people_carousel {
  display: flex;
  align-items: center;
}

.class_img {
  width: 40%;
}

.class_content {
  width: 60%;
}
.slick-dots li {
  margin: 0 20px;
}
.slick-dots li.slick-active button:before {
  color: transparent;
  background-color: #dc4f72;
  width: 50px;
  height: 5px;
}
.slick-dots li button:before {
  background-color: white;
  width: 50px;
  height: 5px;
  color: transparent;
  transition: all 0.5s;
}

.slick-dots li button:hover:before {
  background-color: #d61b4a;
}

.box_class {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0.9, 0.9, 0.9, 0);
  border-radius: 10px;
}

.class_img img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
  object-fit: cover;
  object-position: top;
}

.class_content i {
  position: absolute;
  display: block;
}

.class_name p {
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.class_name h4 {
  color: #dc4f72;
}

/* COMMUNITY  */
.community_button .button_left {
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  color: #dc4f72;
  transition: all 0.5s;
}

.button_left:hover {
  color: white;
  background-color: #dc4f72;
}

.community_button .button_right {
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #dc4f72;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.5s;
}

.button_right:hover {
  background-color: #d61b4a;
}

/* FOOTER  */
footer {
  background-color: #f3f6f9;
  padding-top: 50px;
}

.footer_left {
  width: 60%;
}

.footer_right {
  width: 40%;
}

.footer_left a {
  color: rgb(153, 153, 153);
  transition: all 0.7s;
}

.footer_left ul li {
  padding: 5px 0;
}

.footer_left ul li a:hover {
  color: #dc4f72;
}

.end_box {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0.09, 0.09, 0.09, 0.09);
  border-radius: 5px;
}

.end_button {
  padding: 5px 30px;
  border: 1px solid transparent;
  background-color: #dc4f72;
  color: white;
  border-radius: 5px;
}

.email_box {
  width: 75%;
  background-color: rgb(235, 235, 235);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 30px;
}

.footer_right p {
  color: rgb(153, 153, 153);
}

.blow_right a {
  color: black;
}

.blow_right a:hover {
  color: #dc4f72;
}

/* backtoptop */
.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dc4f726c;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 8px;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
.back_to_top:hover {
  background-color: #dc4f72;
  color: white;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.page_menu {
  margin: 80px 0;
}

/* Modal */
.modal-dialog {
  top: 50%;
}
.modal.show .modal-dialog {
  transform: translateY(-50%);
}
.btn-close {
  color: rgba(255, 255, 255);
  background-image: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-shadow: 0 1px 0 #fff;
  transition: all 0.5s;
}
.btn-close:hover {
  color: rgba(255, 255, 255);
}
.modal-content {
  border: none;
}
.modal-header {
  border-bottom: none;
}
.modal-body input {
  padding: 15px 20px 12px;
  border-radius: 0.375rem 0 0 0.375rem;
}
.modal-body input:focus {
  box-shadow: none;
}
.modal-body .btn {
  padding: 0 25px;
  background-color: #dc4f72;
  border-radius: 0 0.375rem 0.375rem 0;
  color: white;
  transition: all 0.5s;
}
.modal-body .btn:hover {
  background-color: #dc4f72;
  opacity: 0.8;
  color: #f5f9fc;
}
@keyframes muitendixuong {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}





